//Base colors
$blue-color:#4066A5
$light-blue-color:#1DA1F2
$dark-blue-color:#177FBF
$light-blue-color-2: #4267B2
$dark-blue-color-2:#2F4A80
$black-color: #131821
$dark-gray-color:#6A707B
$light-gray-color:#E3E3E4
$dark-white-color:#F2F5FA
$shadow-color:#D3D3D3
$color-red:#FF0000
$color-red-dark: #CC0000
$color-purple: #C13584
$color-purple-dark:#8F2762
$color-white:#FFFFFF

//Base fonts
$font-size: 10px
$font-family-primary:'Georgia'
$font-weight-primary:400
$font-family-secondary:'Arial'